<div class="content">
    <h1><%= title %></h1>
    <div class="user-data">
        <div class="user-data-item">
            <label for="full_name">Name:</label>
            <span><%= user.full_name %></span>
        </div>
        <div class="user-data-item">
            <label for="username">Email / Username:</label>
            <span><%= user.username %></span>
        </div>
        <div class="user-data-item">
            <label for="status">Status:</label>
            <span><%= user.status %></span>
        </div>
        <button type="button" onclick="toggleChangeStatusForm()">Change Status</button>
        <% if (error_msg) { %>
            <p class="error-msg"><%= error_msg %></p>
        <% } %>
    </div>
    <div id="change-status-form" class="form-container" style="display: none;">
        <form method="post">
            <input type="hidden" name="userid" value="<%= user._id %>">
            <div class="form-group">
                <p>If you have a Member or Admin Secret, select the option below and introduce the secret.</p>
                <label>Status:</label>
                <div class="radio-group">
                    <input 
                        type="radio" 
                        id="status" 
                        name="status" 
                        value="newby" 
                        onclick="toggleSecretInput()" 
                        <%= !user || (user && user.status === 'newby') ? 'checked' : '' %>>
                    <label class="radio-label" for="newby">New</label>
                    <input 
                        type="radio" 
                        id="status" 
                        name="status" 
                        value="member" 
                        onclick="toggleSecretInput()" 
                        <%= user && user.status === 'member' ? 'checked' : '' %>>
                    <label class="radio-label" for="member">Member</label>
                    <input 
                    type="radio" 
                    id="status" 
                    name="status" 
                    value="admin" 
                    onclick="toggleSecretInput()" 
                    <%= user && user.status === 'admin' ? 'checked' : '' %>>
                    <label class="radio-label" for="admin">Admin</label>
                </div>
            </div>
            <div class="form-group" id="secret" <%= (user && (user.status === 'member' || user.status === 'admin')) ? 'style=display:flex;' : 'style=display:none;' %>>
                <label for="secret">Secret:</label>
                <input type="text" id="secret" name="secret">
            </div>
            <div class="form-group">
                <button type="submit">Save Changes</button>
            </div>
        </form>
</div>